@import "@/styles/theme.scss";

.body {
	@include width-height(auto, auto);
	display: grid;
	grid-template-columns: repeat(8, 130px);
	justify-content: center;
	align-items: center;
	padding: 10px 20px;
	gap: 10px;
	transition: all 300ms ease-in-out;
	border-bottom: 2px solid rgb(218, 217, 217);
	.image {
		@include width-height(60px, 60px);
		border-radius: 100px;
		object-fit: cover;
	}

	.data_header {
		@include fontSize-fontWeight(16px, 600);
		color: $darkGrey;
	}
	.data {
		@include flex(row, flex-start, center, 5px);
		@include fontSize-fontWeight(14px, 500);
		color: $darkGrey;
		.wp {
			@include width-height(20px, 20px);
			object-fit: contain;
		}
	}
	.qr {
		@include width-height(60px, 60px);
		object-fit: cover;
		transition: all 300ms ease-in-out;
		cursor: pointer;
		&.clicked {
			position: fixed;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: 9999;
			@include width-height(300px, 300px);
		}
	}
	.actions {
		@include flex(row, flex-start, center, 20px);
		.btn {
			border: none;
			outline: none;
			background: none;
			cursor: pointer;
			transition: all 200ms ease-in-out;
			&:hover {
				transform: scale(1.2);
			}
			svg {
				@include width-height(25px, auto);
				transition: all 150ms ease-in-out;
				&:hover {
					fill: $lightBlue;
				}
			}
		}
	}
}
